<%= provide :title, @user.full_name %>
<div class="row">
  <aside class="col-md-12">
    <section class="user-info">
      <%= render "user", user: @user %>
    </section>
    <section class="stats form-oneline">
      <%= render "shared/stats" %>
      <%= render "follow_form" if logged_in? %>
    </section>
    <% if @user.posts.any? %>
      <h3><%= t ".posts" %> (<%= @user.posts.size %>)</h3>
      <ol class="posts">
        <%= render posts_for @user %>
      </ol>
      <%= paginate posts_for(@user), theme: "twitter-bootstrap-3" %>
      <% end %>
    </div>
  </aside>
