<% provide :title, t(".welcome") %>
<div class="center">
  <h1><%= t ".welcome_tip" %></h1>
  <h4><%= t ".description" %></h4>
  <ul class="action">
    <li><%= link_to t(".signup"), "#", class: "btn btn-lg btn-primary" %></li>
    <li><h4><%= t ".or" %></h4></li>
    <li><%= link_to t(".login"), "#", class: "btn btn-lg btn-success" %></li>
  </ul>
</div>
