<div class="navbar navbar-fixed-top header">
  <%= link_to image_tag("sl-icon.png", alt: t(".logo"), class: "logo"),
    root_path %>
  <%= text_field_tag "query", nil, placeholder: t(".placeholder"),
    class: "search-box" %>
  <ul class="navbar navbar-nav navbar-right link-bar">
    <% if false %>
      <li><%= link_to t(".profile"), "#" %></li>
      <li><%= link_to t(".home"), "#" %></li>
      <li><%= link_to t(".help"), help_path %></li>
      <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
          <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to t(".settings"), "#" %></li>
          <li><%= link_to t(".logout"), "#" %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
