<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title_for yield :title %></title>
    <%= render "layouts/default" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
